/*
** Header
*/

/* this class was set but had no style */
.logo {
  width: 130px;
}

/*
** Home page
*/

.hero-image {
  flex-grow: 1;
  min-width: 320px;
  max-width: 539px;
  aspect-ratio: calc(539/410);
}

.home-advisor-image {
  width: 100%;
  max-width: 540px;
}

/* this class was set but had no style */
.blog-post-img {
  width: 100%;
}

/*
** About Us page
*/

.team-image {
  width: 280px;
  /* border-radius: 999px; */
}

/*
** Blog page
*/

.blog-list-img {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

/*
** Authors page
*/

.authors-container {
  margin: 53px auto 0 auto;
  width: 1024px;
}

.author-card {
  display: flex;
  margin-bottom: 4rem;
}

.author-card h2 {
  margin-bottom: 1rem;
}

.author-image {
  width: 300px;
  flex-shrink: 0;
  margin-right: 3rem;
  --twic-ratio: calc(1);
  --twic-mode: cover;
}

@media (min-width: 640px) {
  .author-image {
    --twic-ratio: calc(16/9);
  }
}

@media (min-width: 1024px) {
  .author-image {
    --twic-ratio: calc(7/9);
  }
}