.hero-image {
  flex-grow: 1;
  min-width: 320px;
  max-width: 539px;
  aspect-ratio: calc(539/410);
}

.home-advisor-image {
  width: 100%;
  max-width: 540px;
}

/* this class existed but was unused */
.blog-post-img {
  width: 100%;
}